.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.copy {
  flex: 1;
}

.map {
  flex: 1;
  justify-content: flex-end;
  display: flex;
}

.iframe {
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.08), 0 0 4px 0 rgba(0, 0, 0, 0.08);
}

.location {
  text-decoration: underline;
}
