.container {
  display: flex;
  padding: 32px 0;
}

.cuisineTag {
  margin-left: 8px;
  padding: 8px 16px;
  background-color: #f5f3f1;
  color: #444444;
  font-size: 0.75rem;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.02), 0 0 4px 0 rgba(0, 0, 0, 0.02);
}

.takeoutContainer {
  margin-top: 16px;
}

.takeoutOption {
  height: 64px;
  width: 64px;
}

.takeoutIcon {
  border-radius: 50%;
}

.icon {
  height: 32px;
  width: 32px;
}

.detailsContainer {
  flex: 1;
}

.title {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.mapContainer {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  height: 300px;
  width: 300px;
}

.mapContainer iframe {
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.02), 0 0 4px 0 rgba(0, 0, 0, 0.02);
}

.addressContainer,
.budgetContainer {
  padding: 8px 0;
  display: flex;
  align-items: center;
}

.budgetContainer a {
  color: #444444;
}

.addressContainer .iconContainer,
.budgetContainer .iconContainer {
  width: 40px;
}

.addressLine {
  display: block;
}

.subTitle {
  margin: 0 0 8px 0;
  font-size: 1rem;
  font-weight: 600;
}

.contactContainer {
  padding: 16px 0;
}

.contactContainer a {
  margin-right: 8px;
}

.rating {
  padding: 8px 0;
  display: flex;
  align-items: flex-end;
}

.rating span {
  font-size: 0.9rem;
  margin-left: 4px;
}
